body {
  background-color: black;
  color: white;
  text-align: center;
}

select {
  background-color: black;
  color: white;
}

option {
  padding: 2px;
  font-weight: bold;
}

option[:hover] {
  color: red;
}

#song-detail {
  display: flex;
  border: 1px solid grey;
  margin: 10px 57px;
}

div.left {
  display: inherit;
}

div.right {
  display: inherit;
  flex-flow: column nowrap;
  align-items: center;
  padding-left: 10px;
}
